extends layout

block content
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		body
			main.top-content
				header
					h1 Ég er #{name}
					h2.subheader #{subheader}
		.wrapper
			.bottom-content
				.bear-section
					h3 #{name} 
					.flexbox
						.flex
							img.bjarnamynd(src=pf, alt='Mynd af mér, samt ekki')
						.flex
							p #{description}
				section.review-section
					h3 Áhugamál 
					.flexbox
						.flex
							p.comment #{hobbie1} 
							p.review - Placeholder 
						.flex
							p.comment „Þegar kemur að því að feeda hitt liðið eru fáir betri en drino. 10/10 stjörnum.“
							p.review ― Ívar "Kaztro" Húni, CS:GO fagmaður.
				.halfs
					h3.verkefni Verkefni
						.half1
							.mavadiv
								h4 Mávavinafjélagið
								p.mafar-text
									Ég er einn af stofnfélögum í hinu íslenzka máfavinafjélagi.
						.half2
							h4 Sandferðir Ehf.
							p.sand-text
								Eina eyðimerkur ferðaskrifstofa Íslands.
		nav
				ul
					li.verkefnilink
						a(href='#') Heim 
					li.heimlink
						a(href='#') Verkefni 
					li.heimlink
						a(href='#') Um Mig
					
			
